{{>header}}

<table>
    <tr>
        <th>Player Name | Team Blue</th>
        <th>Champion Name | Team Blue</th>
        <th></th>
        <th>Player Name | Team Red</th>
        <th>Champion Name | Team Red</th>
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td></td>
        <td>Maria Anders</td>
        <td>Maria Anders</td>
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td></td>
        <td>Maria Anders</td>
        <td>Maria Anders</td>
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td></td>
        <td>Maria Anders</td>
        <td>Maria Anders</td>
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td></td>
        <td>Maria Anders</td>
        <td>Maria Anders</td>
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td></td>
        <td>Maria Anders</td>
        <td>Maria Anders</td>
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td></td>
        <td>Maria Anders</td>
        <td>Maria Anders</td>
    </tr>
</table>

{{>footer}}